{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit Person</h3><hr>
      <form method='post' action='{{url_for("edit_person",uid=datas.UID)}}'>
        <div class='form-group'>
          <label>First Name</label>
          <input type='text' name='firstname' required class='form-control' value='{{datas.FIRSTNAME}}'>
        </div>
        <div class='form-group'>
          <label>Last Name</label>
          <input type='text' name='lastname' required class='form-control' value='{{datas.LASTNAME}}'>
        </div>
        <div class='form-group'>
          <label>Email</label>
          <input type='text' name='email' required class='form-control' value='{{datas.EMAIL}}'>
        </div>
        <div class='form-group'>
          <label>Age</label>
          <input type='number' name='age' required class='form-control' value='{{datas.AGE}}'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}