{% extends 'layout.html' %}
{% block body %}
  <h3 class='text-center text-muted mb-3'>PERSONAL DETAILS FORM</h3>
  <p class='text-right'><a href='{{url_for("add_person")}}' class='btn btn-success '>+Add Person</a></p>
  <table class='table table-bordered'>
    <thead>
      <th>SNo</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Age</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for row in datas %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{row.FIRSTNAME}}</td>
          <td>{{row.LASTNAME}}</td>
          <td>{{row.EMAIL}}</td>
          <td>{{row.AGE}}</td>
          <td><a href='{{url_for("view_person",uid=row.UID)}}' class='btn btn-primary'>view</a></td>
          <td><a href='{{url_for("edit_person",uid=row.UID)}}' class='btn btn-primary'>Edit</a></td>
          <td><a href='{{url_for("delete_person",uid=row.UID)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}